html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: black;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 2.3vmin;
  color: rgb(64, 134, 195);
  user-select: none;
}

scene {
  width: 1280px;
  height: 720px;
  display: inline-block;
  position: absolute;

}

canvas {
  width: 100%;
  height: 100%;
}

/*dialog[type=splash] {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
}
dialog[type=splash]>img#FudgeStoryLogo {
  width: 100%;
}*/

dialog[type="splash"] {
  /*background-image: url("Images/Backgrounds/SwampWalk.png");*/
  background-color: #27382b;
  background-repeat: repeat;
  /* background-size: contain; */
  width: 100%;
  height: 100%;
}

dialog[type="splash"]>p {
  font-size: 4vmin;
  color: white;
  text-align: center;
}

#FudgeStoryLogo {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

/***** SPEECH, CONTENT, NAMES *****/
speech {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: beige;
  background-color: rgba(10, 6, 46, 0.9);
  width: 100%;
  height: 25%;
}

speech content {
  color: rgb(187, 187, 187);
  font-size: 4vmin;
  position: absolute;
  left: 25px;
  top: 80px;
  /*vllt stupid*/
}

name {
  font-size: 4vmin;
  display: block;
  color: rgb(60, 144, 223);
  margin-bottom: 10px;
  padding-left: 25px;
  padding-top: 20px;
}

.Du {
  font-size: 4vmin;
  background-color: rgba(10, 36, 17, 0.9);
}
.Du name {
  font-size: 4vmin;
  display: block;
  color: rgb(60, 223, 128);
  margin-bottom: 10px;
  padding-left: 25px;
  padding-top: 20px;
}
.Steve {
  font-size: 4vmin;
  background-color: rgba(87, 51, 52, 0.9);
}
.Steve name {
  font-size: 4vmin;
  display: block;
  color: rgb(240, 163, 163);
  margin-bottom: 10px;
  padding-left: 25px;
  padding-top: 20px;
}
.WacheLinks {
  font-size: 4vmin;
  background-color: rgba(22, 58, 31, 0.9);
}
.WacheLinks name {
  font-size: 4vmin;
  color: rgb(36, 170, 92);
  margin-bottom: 10px;
  padding-left: 25px;
  padding-top: 20px;
}
.WacheRechts {
  font-size: 4vmin;
  background-color: rgba(26, 112, 62, 0.9);
}
.WacheRechts name {
  font-size: 4vmin;
  color: rgb(22, 58, 31);
  margin-bottom: 10px;
  padding-left: 25px;
  padding-top: 20px;
}
.WacheLinksBig {
  font-size: 4vmin;
  background-color: rgba(22, 58, 31, 0.9);
}
.WacheLinksBig name {
  font-size: 4vmin;
  color: rgb(36, 170, 92);
  margin-bottom: 10px;
  padding-left: 25px;
  padding-top: 20px;
}
.WacheRechtsBig {
  font-size: 4vmin;
  background-color: rgba(26, 112, 62, 0.9);
}
.WacheRechtsBig name {
  font-size: 4vmin;
  color: rgb(22, 58, 31);
  margin-bottom: 10px;
  padding-left: 25px;
  padding-top: 20px;
}
.Tym {
  font-size: 4vmin;
  background-color: rgba(92, 16, 79, 0.9);
}
.Tym name{
  font-size: 4vmin;
  color: rgb(211, 79, 171);
  margin-bottom: 10px;
  padding-left: 25px;
  padding-top: 20px;
}
.unbekannt {
  font-size: 4vmin;
  background-color: rgba(8, 6, 8, 0.9);
}
.unbekannt name {
  font-size: 4vmin;
  color: rgb(139, 139, 139);
  margin-bottom: 10px;
  padding-left: 25px;
  padding-top: 20px;
}
.Frogtaro {
  font-size: 4vmin;
  background-color: rgba(62, 42, 80, 0.9);
}
.Frogtaro name {
  font-size: 4vmin;
  color: rgb(74, 111, 189);
  margin-bottom: 10px;
  padding-left: 25px;
  padding-top: 20px;
}
.Weiser {
  font-size: 4vmin;
  background-color: rgba(67, 14, 80, 0.9);
}
.Weiser name {
  font-size: 4vmin;
  color: rgb(220, 224, 142);
  margin-bottom: 10px;
  padding-left: 25px;
  padding-top: 20px;
}
.Dorfschreier {
  font-size: 4vmin;
  background-color: rgba(85, 82, 33, 0.9);
}
.Dorfschreier name {
  font-size: 4vmin;
  color: rgb(206, 149, 102);
  margin-bottom: 10px;
  padding-left: 25px;
  padding-top: 20px;
}

.gameMenuCSSClass{
  background-color: #5f7c66;
  /*color: beige;*/
  width:30%;
  height: 10%;
}
.gameMenuCSSClass button{
  color: beige;
  background-color: rgba(9, 102, 71, 0.8);
  width: 40%;
  height: 40%;
  font-size: 20px;
  font-weight: bolder;
  border: none;
  margin-left: 6.75%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 8px;
}

/* Dass leere Optionen verschwinden*/
button:empty {
  display: none;
}

/***** SPEECH, CONTENT, NAMES *****/
/*speech {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: beige;
  background-color: rgba(92, 34, 48, 0.9);
  width: 100%;
  height: 25%;
}

speech content {
  color: rgb(203, 158, 188);
  font-size: 2.5vmin;
  position: absolute;
  left: 25px;
}

name {
  font-size: 4vmin;
  display: block;
  color: rgb(223, 60, 182);
  margin-bottom: 10px;
  padding-left: 25px;
}*/

meter::-webkit-meter-bar {
  background-color: #ececec;
}

meter[id="HPlvl1"] {
  display: none;
  position: absolute;
  /*transform:rotate(-90deg);*/
  bottom: 90%;
  left: 5%;
  width: 15%;
  height: 6%;
}

meter[id="HPlvl1"]::-webkit-meter-optimum-value {
  background: red;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#speech {
  /*versteckt am Anfang die Textbox*/
  visibility: hidden;
}

input[id="HPCount"] {
  display: none;
  /*color: rgb(255, 3, 3);*/
  color: rgba(10, 6, 46, 0.9);
  /*background-color:rgb(155, 42, 95);*/
  background-color: transparent;
  font-size: 11pt;
  font-weight: bolder;

  z-index: 1;
  border: none;
  position: absolute;
  bottom: 91.5%;
  left: 5.5%;
  width: 2.7%;
  height: 2.3%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


#respawnQuote {
  display: none;
  position: relative;
  text-align: center;
  bottom: 60%;
  border: transparent;
  background: transparent;
  color: white;
  font-weight: bold;
  font-size: larger;
  z-index: 1;
}


.choicesCSSClass {
  position: absolute;
  bottom: 0px;
  left: 0;
  /*color: beige;*/
  background-color: rgba(10, 6, 46, 0.9);
  width: 100%;
  height: 25%;
  margin-bottom: 0px;
}

.choicesCSSClass button {
  color: beige;
  background-color: rgba(70, 66, 107, 0.8);
  width: 40%;
  height: 30%;
  font-size: 20px;
  font-weight: bolder;
  border: none;
  margin-left: 6.75%;
  margin-top: 2.5%;
  border-radius: 8px;
  /*padding: 1em;
  margin-left: 2em;
  border: 0px;
  font-size: 20px;
  padding-left: 100px;
  font-weight: bolder;
  width: 300px;
  height: 110px;*/
}

#Attack {
  color: beige;
  background-color: rgba(148, 144, 190, 1);
  width: 40%;
  height: 50%;
  font-size: larger;
}

#Item {
  color: beige;
  background-color: rgba(148, 144, 190, 1);
  width: 40%;
  height: 50%;
  font-size: larger;
}

#Dodge {
  color: beige;
  background-color: rgba(148, 144, 190, 1);
  width: 40%;
  height: 50%;
  font-size: larger;
}

#Flee {
  color: beige;
  background-color: rgba(148, 144, 190, 1);
  width: 40%;
  height: 50%;
  font-size: larger;
}

#Target1 {
  color: beige;
  background-color: rgba(148, 144, 190, 1);
  width: 50%;
  height: 100%;
  font-size: larger;
}

#Target2 {
  color: beige;
  background-color: rgba(148, 144, 190, 1);
  width: 50%;
  height: 100%;
  font-size: larger;
}

.frog1 {
  position: absolute;
  bottom: 33%;
  left: -80%;
  height: 5%;
  border: transparent;
  background: transparent;
  color: red;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #fffcfc;
  font-weight: bold;
  font-size: larger;
}

.frog2 {
  position: absolute;
  bottom: 18%;
  left: -55%;
  width: 12%;
  height: 5%;
  border: transparent;
  background: transparent;
  color: red;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #fffcfc;
  font-weight: bold;
  font-size: larger;
}

.frog3 {
  position: absolute;
  bottom: 0%;
  left: -75%;
  width: 12%;
  height: 5%;
  border: transparent;
  background: transparent;
  color: red;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #fffcfc;
  font-weight: bold;
  font-size: larger;
}

.Player {
  position: absolute;
  bottom: 57%;
  left: -55%;
  width: 12%;
  height: 5%;
  border: transparent;
  background: transparent;
  color: red;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #fffcfc;
  font-weight: bold;
  font-size: larger;
}

.enemy2 {
  position: absolute;
  bottom: 60%;
  left: 79%;
  width: 12%;
  height: 5%;
  border: transparent;
  background: transparent;
  color: red;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #fffcfc;
  font-weight: bold;
  font-size: larger;
}

.enemy1 {
  position: absolute;
  bottom: 10%;
  left: 79%;
  width: 12%;
  height: 5%;
  border: transparent;
  background: transparent;
  color: red;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #fffcfc;
  font-weight: bold;
  font-size: larger;
}

.healEnemy2 {
  position: absolute;
  bottom: 54%;
  left: 77%;
  width: 8%;
  height: 5%;
  border: transparent;
  background: transparent;
  color: rgb(60, 255, 0);
  font-weight: bold;
  font-size: larger;
}

.healEnemy1 {
  position: absolute;
  bottom: 5%;
  left: 77%;
  width: 8%;
  height: 5%;
  border: transparent;
  background: transparent;
  color: rgb(60, 255, 0);
  font-weight: bold;
  font-size: larger;
}


/* NOT SURE, WAS DAVON WIRKLICH FUNKTIONIERT (SPEECH INPUT)*/

speech input {
  background-color: rgb(100, 100, 100);
  color: rgb(228, 228, 228);
  margin: 0px 0px 0px 3%;
  width: 20%;
  height: 10%;
  border-radius: 7px;
  /* box-shadow: 1px 1px 1px 1px gold; */
  /* background-blend-mode: color; */
}

/* For Dialog fancy buttons */

speech input:hover::before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

speech input:hover::after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(36, 36, 36);
  left: 0;
  top: 0;
  border-radius: 10px;
}

speech input:active {
  color: #000
}

speech input:active::after {
  background: transparent;
}