html, body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: black;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 2.3vmin;
  color: rgb(64, 134, 195);
  user-select: none;
}

scene {
  width: 1280px;
  height: 720px;
  display: inline-block;
  position: absolute;
  
}

canvas {
  width: 100%;
  height: 100%;
}

/*dialog[type=splash] {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
}
dialog[type=splash]>img#FudgeStoryLogo {
  width: 100%;
}*/

dialog[type="splash"] {
  background-image: url("Images/Backgrounds/starry.gif");
  background-repeat: repeat;
  /* background-size: contain; */
  width: 100%;
  height: 100%;
}

dialog[type="splash"] > p {
  font-size: 2vmin;
  color: white;
  text-align: center;
}

#FudgeStoryLogo {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

/***** SPEECH, CONTENT, NAMES *****/
speech {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: beige;
  background-color: rgba(10, 6, 46, 0.9);
  width: 100%;
  height: 25%;
}

speech content {
  color: rgb(187, 187, 187);
  font-size: 4vmin;
  position: absolute;
  left: 25px;
  top: 80px; /*vllt stupid*/
}

name {
  font-size: 4vmin;
  display: block;
  color: rgb(60, 144, 223);
  margin-bottom: 10px;
  padding-left: 25px;
  padding-top: 20px;;
}

/***** SPEECH, CONTENT, NAMES *****/
/*speech {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: beige;
  background-color: rgba(92, 34, 48, 0.9);
  width: 100%;
  height: 25%;
}

speech content {
  color: rgb(203, 158, 188);
  font-size: 2.5vmin;
  position: absolute;
  left: 25px;
}

name {
  font-size: 4vmin;
  display: block;
  color: rgb(223, 60, 182);
  margin-bottom: 10px;
  padding-left: 25px;
}*/


#speech { /*versteckt am Anfang die Textbox*/
  visibility: hidden;
}


.choicesCSSClass {
  position: absolute;
  top: 500px;
  bottom: 0px;
  left: 0px;
  color: beige;
  background-color: rgba(10, 6, 46, 0.9);
  width: 100%;
  height: 25%;
}
#Attack {
  position: absolute;
  bottom: 135px;
  left: 0px;
  color: beige;
  background-color: rgba(148, 144, 190, 0.9);
  width: 50%;
  height: 25%;
}
#Item {
  position: absolute;
  bottom: 135px;
  left: 682px;
  color: beige;
  background-color: rgba(148, 144, 190, 0.9);
  width: 50%;
  height: 25%;
}
#Dodge {
  position: absolute;
  bottom: 60px;
  left: 0px;
  color: beige;
  background-color: rgba(148, 144, 190, 0.9);
  width: 50%;
  height: 25%;
}
#Flee {
  position: absolute;
  bottom: 60px;
  left: 682px;
  color: beige;
  background-color: rgba(148, 144, 190, 0.9);
  width: 50%;
  height: 25%;
}
#Target1 {
  position: absolute;
  bottom: 135px;
  left: 0px;
  color: beige;
  background-color: rgba(148, 144, 190, 0.9);
  width: 50%;
  height: 25%;
}
#Target2 {
  position: absolute;
  bottom: 135px;
  left: 682px;
  color: beige;
  background-color: rgba(148, 144, 190, 0.9);
  width: 50%;
  height: 25%;
}
.enemy1 {
  position: absolute;
  bottom: 500px;
  left: 980px;
  width: 8%;
  height: 5%;
  border: transparent;
  background: transparent;
  color: red;
  font-weight: bold;
  font-size: larger;
}
.enemy2 {
  position: absolute;
  bottom: 150px;
  left: 980px;
  width: 8%;
  height: 5%;
  border: transparent;
  background: transparent;
  color: red;
  font-weight: bold;
  font-size: larger;
}
.healEnemy1 {
  position: absolute;
  bottom: 500px;
  left: 980px;
  width: 8%;
  height: 5%;
  border: transparent;
  background: transparent;
  color: rgb(60, 255, 0);
  font-weight: bold;
  font-size: larger;
}
.healEnemy2 {
  position: absolute;
  bottom: 150px;
  left: 980px;
  width: 8%;
  height: 5%;
  border: transparent;
  background: transparent;
  color: rgb(60, 255, 0);
  font-weight: bold;
  font-size: larger;
}
/*meter stuff ist im Tutorial*/